* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1a1a1a;
    color: white;
}

header .container {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

header {
    color: white;
    background-color: black;
    align-items: center;
    height: 60px;
    padding: 15px;
}

.branding {

}

.branding img {
    max-width: 100px;
}

header nav {
    vertical-align: middle;
    font-size: 20px;

}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
    
}

header ul li {
    margin-left: 15px;
}

header ul li a {
    color: white;
    text-transform: uppercase;
}

header ul li a:hover {
    border-bottom: 1px solid white;
}

section {
    padding-top: 50px;
}

section h3 {
    font-size: 30px;
    font-weight: normal;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 20px;
    display: flex;

}

/* HERO SECTION */
.hero {
    height: 30vw;
    background-image: url('../images/hero-background.jpg');
    background-position: center;
    background-size: cover;
}

.hero .container {
    position: relative;
    height: 100%;
}

.hero div {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
}

.hero .heading {
    color: white;
    padding: 10px;
    background-color: black;
    font-size: 40px;
}

.hero .secondary-heading {
    color: white;
    padding: 0 10px 10px 10px;
    background-color: black;
    font-size: 30px;
    float: right;
}
/* END HERO SECTION */

/* SECTION STYLES */
.section-title {
    flex: 1 200px;
    padding-right: 20px;
    border-right: 2px solid white;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 2 1000px;
    column-gap: 20px;
    padding-left: 20px;
}

/* ARTICLE STYLES */

article {
    background-color: #4c6f9c;
    border: 4px solid white;
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin-top: 15px;
    padding-bottom: -10px;
    
}

article:first-child {
    width: 100%;
    margin-top: 0px;
}

article:not(:first-child) {
    flex: 1;
}

article .item-title {
    position: absolute;
    bottom: 30px;
    background-color: white;
    padding: 15px;
    color: black;
}

article .item-title h4 {
    font-size: 22px;
}

article .item-title h5 {
    font-weight: normal;
    font-size: 17px;
}

.article-image {
    overflow: hidden;
}

article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin: 0;
    filter: saturate(0);
    transform: scale(1.05);
    transition: all .2s ease-in-out;
    opacity: 70%;
}

article img:hover {
    filter: saturate(1);
    transform: scale(1);
    transition: .2s ease-in-out;
    opacity: 100%;
}