* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1a1a1a;
    color: white;
}

header .container {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

header {
    color: white;
    background-color: black;
    align-items: center;
    /* height: 60px; */
    padding: 15px;
}

.branding img {
    max-width: 100px;
}

header nav {
    vertical-align: middle;
    font-size: 20px;

}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
    
}

header ul li {
    margin-left: 15px;
}

header ul li a {
    color: white;
    text-transform: uppercase;
}

header ul li a:hover {
    border-bottom: 1px solid white;
}

section {
    padding-top: 50px;
}

section h3 {
    font-size: 30px;
    font-weight: normal;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 20px;
    display: flex;

}

/* HERO SECTION */
.hero {
    height: 450px;
    background-image: url('../images/hero-background.jpg');
    background-position: center;
    background-size: cover;
}

.hero .container {
    position: relative;
    height: 100%;
}

.hero div {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: right;
}

.hero h2 {
    color: white;
    padding: 10px;
    background-color: black;
    font-size: 35px;
}

.hero h2 span {
    font-weight: normal;

}
/* END HERO SECTION */

/* GLOBAL SECTION STYLES */
.section-title {
    flex: 1 200px;
    padding-right: 20px;
    border-right: 2px solid white;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 2 1000px;
    column-gap: 20px;
    padding-left: 20px;
}

/* ABOUT SECTION */
.profile-image {
    width: 200px;
    position: absolute;
    bottom: 230px;
    border-radius: 50%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, .4);
}

.about {
    margin-top: 20px;
}

/* WORK SECTION STYLES */
.work article {
    background-color: #4c6f9c;
    border: 4px solid white;
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin-top: 15px;
    padding-bottom: -10px;
    
}

.work article:first-child {
    width: 100%;
    margin-top: 0px;
}

.work article:not(:first-child) {
    flex: 1;
}

.work article .item-title {
    position: absolute;
    bottom: 30px;
    background-color: white;
    padding: 15px;
    color: black;
}

.work article .item-title h4 {
    font-size: 22px;
}

.work article .item-title h5 {
    font-weight: normal;
    font-size: 17px;
}

.work .article-image {
    overflow: hidden;
}

.work article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin: 0;
    filter: saturate(0);
    transform: scale(1.05);
    transition: all .2s ease-in-out;
    opacity: 70%;
}

.work article img:hover {
    filter: saturate(1);
    transform: scale(1);
    transition: .2s ease-in-out;
    opacity: 100%;
}

/* CONTACT SECTION */

.contact {
    margin-bottom: 40px;
}

.contact ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.contact li {
    margin: 0 15px 0 15px;
}

/* RESPONSIVE RULES */
@media screen and (max-width: 980px) {
    .profile-image {
        width: 170px;
    }
}

@media screen and (max-width: 768px) {
    .hero div {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: 0px;
    }

    .profile-image {
        width: 150px;
        position: absolute;
        left: 10px;
        bottom: 330px;
        border-radius: 50%;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, .4);
    }
}

@media screen and (max-width: 480px) {

    header .container {
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
    }

    header ul {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        list-style: none;
    }

    header ul li {
        margin: 10px 0 0 0;
    }

    section {
        padding-top: 0px;
        margin-bottom: 30px;
    }

    .section-content {
        padding-left: 0px;
        flex-flow: column;
    }

    .container {
        padding: 0 20px 0 20px;
        display: block
    
    }

    .hero {
        height: 320px;
        background-image: url('../images/hero-background.jpg');
        background-position: center;
        background-size: cover;
    }

    .hero div {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: 0px;
    }

    .profile-image {
        width: 100px;
        position: absolute;
        left: 10px;
        top: 160px;
        border-radius: 50%;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, .4);
    }

    .section-title {
        border: none;
        margin-bottom: 10px;
    }

    .work article {
        flex-flow: column;
        
    }
    .contact li {
        margin: 0 15px 0 0;
    }


}